<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.ApCollarMapper">
  <resultMap id="BaseResultMap" type="com.dyny.gms.db.pojo.ApCollar">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="co_no" jdbcType="VARCHAR" property="coNo" />
    <result column="mach_no" jdbcType="VARCHAR" property="machNo" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="co_time" jdbcType="TIMESTAMP" property="coTime" />
    <result column="co_per" jdbcType="VARCHAR" property="coPer" />
    <result column="co_tel" jdbcType="VARCHAR" property="coTel" />
    <result column="st_no" jdbcType="VARCHAR" property="stNo" />
    <result column="co_add" jdbcType="VARCHAR" property="coAdd" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="creat_per" jdbcType="VARCHAR" property="creatPer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, co_no, mach_no, state, co_time, co_per, co_tel, st_no, co_add, creat_time, creat_per
  </sql>
  <select id="selectByExample" parameterType="com.dyny.gms.db.pojo.ApCollarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ap_collar
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ap_collar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ap_collar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dyny.gms.db.pojo.ApCollarExample">
    delete from ap_collar
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dyny.gms.db.pojo.ApCollar">
    insert into ap_collar (id, co_no, mach_no, 
      state, co_time, co_per, 
      co_tel, st_no, co_add, 
      creat_time, creat_per)
    values (#{id,jdbcType=INTEGER}, #{coNo,jdbcType=VARCHAR}, #{machNo,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{coTime,jdbcType=TIMESTAMP}, #{coPer,jdbcType=VARCHAR}, 
      #{coTel,jdbcType=VARCHAR}, #{stNo,jdbcType=VARCHAR}, #{coAdd,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{creatPer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dyny.gms.db.pojo.ApCollar">
    insert into ap_collar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="coNo != null">
        co_no,
      </if>
      <if test="machNo != null">
        mach_no,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="coTime != null">
        co_time,
      </if>
      <if test="coPer != null">
        co_per,
      </if>
      <if test="coTel != null">
        co_tel,
      </if>
      <if test="stNo != null">
        st_no,
      </if>
      <if test="coAdd != null">
        co_add,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="creatPer != null">
        creat_per,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coNo != null">
        #{coNo,jdbcType=VARCHAR},
      </if>
      <if test="machNo != null">
        #{machNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="coTime != null">
        #{coTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coPer != null">
        #{coPer,jdbcType=VARCHAR},
      </if>
      <if test="coTel != null">
        #{coTel,jdbcType=VARCHAR},
      </if>
      <if test="stNo != null">
        #{stNo,jdbcType=VARCHAR},
      </if>
      <if test="coAdd != null">
        #{coAdd,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatPer != null">
        #{creatPer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dyny.gms.db.pojo.ApCollarExample" resultType="java.lang.Long">
    select count(*) from ap_collar
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ap_collar
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.coNo != null">
        co_no = #{record.coNo,jdbcType=VARCHAR},
      </if>
      <if test="record.machNo != null">
        mach_no = #{record.machNo,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.coTime != null">
        co_time = #{record.coTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coPer != null">
        co_per = #{record.coPer,jdbcType=VARCHAR},
      </if>
      <if test="record.coTel != null">
        co_tel = #{record.coTel,jdbcType=VARCHAR},
      </if>
      <if test="record.stNo != null">
        st_no = #{record.stNo,jdbcType=VARCHAR},
      </if>
      <if test="record.coAdd != null">
        co_add = #{record.coAdd,jdbcType=VARCHAR},
      </if>
      <if test="record.creatTime != null">
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatPer != null">
        creat_per = #{record.creatPer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ap_collar
    set id = #{record.id,jdbcType=INTEGER},
      co_no = #{record.coNo,jdbcType=VARCHAR},
      mach_no = #{record.machNo,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      co_time = #{record.coTime,jdbcType=TIMESTAMP},
      co_per = #{record.coPer,jdbcType=VARCHAR},
      co_tel = #{record.coTel,jdbcType=VARCHAR},
      st_no = #{record.stNo,jdbcType=VARCHAR},
      co_add = #{record.coAdd,jdbcType=VARCHAR},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      creat_per = #{record.creatPer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyny.gms.db.pojo.ApCollar">
    update ap_collar
    <set>
      <if test="coNo != null">
        co_no = #{coNo,jdbcType=VARCHAR},
      </if>
      <if test="machNo != null">
        mach_no = #{machNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="coTime != null">
        co_time = #{coTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coPer != null">
        co_per = #{coPer,jdbcType=VARCHAR},
      </if>
      <if test="coTel != null">
        co_tel = #{coTel,jdbcType=VARCHAR},
      </if>
      <if test="stNo != null">
        st_no = #{stNo,jdbcType=VARCHAR},
      </if>
      <if test="coAdd != null">
        co_add = #{coAdd,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatPer != null">
        creat_per = #{creatPer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyny.gms.db.pojo.ApCollar">
    update ap_collar
    set co_no = #{coNo,jdbcType=VARCHAR},
      mach_no = #{machNo,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      co_time = #{coTime,jdbcType=TIMESTAMP},
      co_per = #{coPer,jdbcType=VARCHAR},
      co_tel = #{coTel,jdbcType=VARCHAR},
      st_no = #{stNo,jdbcType=VARCHAR},
      co_add = #{coAdd,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      creat_per = #{creatPer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>