<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.CacheMethodMapper">
  <resultMap id="BaseResultMap" type="com.dyny.gms.db.pojo.CacheMethod">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_pojo_name" jdbcType="VARCHAR" property="pojoName" />
    <result column="s_mapper_id" jdbcType="VARCHAR" property="mapperId" />
    <result column="b_multiple" jdbcType="BIT" property="multiple" />
    <result column="b_deleted" jdbcType="BIT" property="deleted" />
    <result column="s_property_name" jdbcType="VARCHAR" property="propertyName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, s_pojo_name, s_mapper_id, b_multiple, b_deleted, s_property_name
  </sql>
  <select id="selectByExample" parameterType="com.dyny.gms.db.pojo.CacheMethodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cache_method
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cache_method
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cache_method
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dyny.gms.db.pojo.CacheMethodExample">
    delete from t_cache_method
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dyny.gms.db.pojo.CacheMethod">
    insert into t_cache_method (id, s_pojo_name, s_mapper_id, 
      b_multiple, b_deleted, s_property_name
      )
    values (#{id,jdbcType=INTEGER}, #{pojoName,jdbcType=VARCHAR}, #{mapperId,jdbcType=VARCHAR}, 
      #{multiple,jdbcType=BIT}, #{deleted,jdbcType=BIT}, #{propertyName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dyny.gms.db.pojo.CacheMethod">
    insert into t_cache_method
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pojoName != null">
        s_pojo_name,
      </if>
      <if test="mapperId != null">
        s_mapper_id,
      </if>
      <if test="multiple != null">
        b_multiple,
      </if>
      <if test="deleted != null">
        b_deleted,
      </if>
      <if test="propertyName != null">
        s_property_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pojoName != null">
        #{pojoName,jdbcType=VARCHAR},
      </if>
      <if test="mapperId != null">
        #{mapperId,jdbcType=VARCHAR},
      </if>
      <if test="multiple != null">
        #{multiple,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="propertyName != null">
        #{propertyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dyny.gms.db.pojo.CacheMethodExample" resultType="java.lang.Long">
    select count(*) from t_cache_method
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_cache_method
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pojoName != null">
        s_pojo_name = #{record.pojoName,jdbcType=VARCHAR},
      </if>
      <if test="record.mapperId != null">
        s_mapper_id = #{record.mapperId,jdbcType=VARCHAR},
      </if>
      <if test="record.multiple != null">
        b_multiple = #{record.multiple,jdbcType=BIT},
      </if>
      <if test="record.deleted != null">
        b_deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.propertyName != null">
        s_property_name = #{record.propertyName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_cache_method
    set id = #{record.id,jdbcType=INTEGER},
      s_pojo_name = #{record.pojoName,jdbcType=VARCHAR},
      s_mapper_id = #{record.mapperId,jdbcType=VARCHAR},
      b_multiple = #{record.multiple,jdbcType=BIT},
      b_deleted = #{record.deleted,jdbcType=BIT},
      s_property_name = #{record.propertyName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyny.gms.db.pojo.CacheMethod">
    update t_cache_method
    <set>
      <if test="pojoName != null">
        s_pojo_name = #{pojoName,jdbcType=VARCHAR},
      </if>
      <if test="mapperId != null">
        s_mapper_id = #{mapperId,jdbcType=VARCHAR},
      </if>
      <if test="multiple != null">
        b_multiple = #{multiple,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        b_deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="propertyName != null">
        s_property_name = #{propertyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyny.gms.db.pojo.CacheMethod">
    update t_cache_method
    set s_pojo_name = #{pojoName,jdbcType=VARCHAR},
      s_mapper_id = #{mapperId,jdbcType=VARCHAR},
      b_multiple = #{multiple,jdbcType=BIT},
      b_deleted = #{deleted,jdbcType=BIT},
      s_property_name = #{propertyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>