<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.CCustomerMapper">
  <resultMap id="BaseResultMap" type="com.dyny.gms.db.pojo.CCustomer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cus_no" jdbcType="VARCHAR" property="cusNo" />
    <result column="cus_name" jdbcType="VARCHAR" property="cusName" />
    <result column="cus_per" jdbcType="VARCHAR" property="cusPer" />
    <result column="cus_tel" jdbcType="VARCHAR" property="cusTel" />
    <result column="cus_add" jdbcType="VARCHAR" property="cusAdd" />
    <result column="inter_time" jdbcType="TIMESTAMP" property="interTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="item1" jdbcType="VARCHAR" property="item1" />
    <result column="item2" jdbcType="VARCHAR" property="item2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cus_no, cus_name, cus_per, cus_tel, cus_add, inter_time, note, item1, item2
  </sql>
  <select id="selectByExample" parameterType="com.dyny.gms.db.pojo.CCustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from c_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dyny.gms.db.pojo.CCustomerExample">
    delete from c_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dyny.gms.db.pojo.CCustomer">
    insert into c_customer (id, cus_no, cus_name, 
      cus_per, cus_tel, cus_add, 
      inter_time, note, item1, 
      item2)
    values (#{id,jdbcType=INTEGER}, #{cusNo,jdbcType=VARCHAR}, #{cusName,jdbcType=VARCHAR}, 
      #{cusPer,jdbcType=VARCHAR}, #{cusTel,jdbcType=VARCHAR}, #{cusAdd,jdbcType=VARCHAR}, 
      #{interTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, #{item1,jdbcType=VARCHAR}, 
      #{item2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dyny.gms.db.pojo.CCustomer">
    insert into c_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cusNo != null">
        cus_no,
      </if>
      <if test="cusName != null">
        cus_name,
      </if>
      <if test="cusPer != null">
        cus_per,
      </if>
      <if test="cusTel != null">
        cus_tel,
      </if>
      <if test="cusAdd != null">
        cus_add,
      </if>
      <if test="interTime != null">
        inter_time,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="item1 != null">
        item1,
      </if>
      <if test="item2 != null">
        item2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cusNo != null">
        #{cusNo,jdbcType=VARCHAR},
      </if>
      <if test="cusName != null">
        #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="cusPer != null">
        #{cusPer,jdbcType=VARCHAR},
      </if>
      <if test="cusTel != null">
        #{cusTel,jdbcType=VARCHAR},
      </if>
      <if test="cusAdd != null">
        #{cusAdd,jdbcType=VARCHAR},
      </if>
      <if test="interTime != null">
        #{interTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="item1 != null">
        #{item1,jdbcType=VARCHAR},
      </if>
      <if test="item2 != null">
        #{item2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dyny.gms.db.pojo.CCustomerExample" resultType="java.lang.Long">
    select count(*) from c_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update c_customer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cusNo != null">
        cus_no = #{record.cusNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cusName != null">
        cus_name = #{record.cusName,jdbcType=VARCHAR},
      </if>
      <if test="record.cusPer != null">
        cus_per = #{record.cusPer,jdbcType=VARCHAR},
      </if>
      <if test="record.cusTel != null">
        cus_tel = #{record.cusTel,jdbcType=VARCHAR},
      </if>
      <if test="record.cusAdd != null">
        cus_add = #{record.cusAdd,jdbcType=VARCHAR},
      </if>
      <if test="record.interTime != null">
        inter_time = #{record.interTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.item1 != null">
        item1 = #{record.item1,jdbcType=VARCHAR},
      </if>
      <if test="record.item2 != null">
        item2 = #{record.item2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update c_customer
    set id = #{record.id,jdbcType=INTEGER},
      cus_no = #{record.cusNo,jdbcType=VARCHAR},
      cus_name = #{record.cusName,jdbcType=VARCHAR},
      cus_per = #{record.cusPer,jdbcType=VARCHAR},
      cus_tel = #{record.cusTel,jdbcType=VARCHAR},
      cus_add = #{record.cusAdd,jdbcType=VARCHAR},
      inter_time = #{record.interTime,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR},
      item1 = #{record.item1,jdbcType=VARCHAR},
      item2 = #{record.item2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyny.gms.db.pojo.CCustomer">
    update c_customer
    <set>
      <if test="cusNo != null">
        cus_no = #{cusNo,jdbcType=VARCHAR},
      </if>
      <if test="cusName != null">
        cus_name = #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="cusPer != null">
        cus_per = #{cusPer,jdbcType=VARCHAR},
      </if>
      <if test="cusTel != null">
        cus_tel = #{cusTel,jdbcType=VARCHAR},
      </if>
      <if test="cusAdd != null">
        cus_add = #{cusAdd,jdbcType=VARCHAR},
      </if>
      <if test="interTime != null">
        inter_time = #{interTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="item1 != null">
        item1 = #{item1,jdbcType=VARCHAR},
      </if>
      <if test="item2 != null">
        item2 = #{item2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyny.gms.db.pojo.CCustomer">
    update c_customer
    set cus_no = #{cusNo,jdbcType=VARCHAR},
      cus_name = #{cusName,jdbcType=VARCHAR},
      cus_per = #{cusPer,jdbcType=VARCHAR},
      cus_tel = #{cusTel,jdbcType=VARCHAR},
      cus_add = #{cusAdd,jdbcType=VARCHAR},
      inter_time = #{interTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      item1 = #{item1,jdbcType=VARCHAR},
      item2 = #{item2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>