<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.CommonMapper">
    <select id="select" resultType="java.util.Map" statementType="STATEMENT">
        select
                *
        from ${table}
        where ${name}
        = ${value}
    </select>

    <select id="executeSelect" resultType="java.util.Map" statementType="STATEMENT">
        ${sql}
    </select>
    <update id="executeModify" statementType="STATEMENT">
        ${sql}
    </update>
</mapper>