<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.EnumerationMapper">
  <resultMap id="BaseResultMap" type="com.dyny.gms.db.pojo.Enumeration">
    <result column="i_id" jdbcType="TINYINT" property="id" />
    <result column="s_enum_value_text" jdbcType="VARCHAR" property="enumValueText" />
    <result column="i_enum_value" jdbcType="TINYINT" property="enumValue" />
    <result column="d_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="d_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="i_modify_user" jdbcType="INTEGER" property="modifyUser" />
    <result column="i_create_user" jdbcType="INTEGER" property="createUser" />
    <result column="s_column_key" jdbcType="VARCHAR" property="columnKey" />
    <result column="s_column_text" jdbcType="VARCHAR" property="columnText" />
    <result column="s_remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause_Enum">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    i_id, s_enum_value_text, i_enum_value, d_create_time, d_modify_time, i_modify_user, 
    i_create_user, s_column_key, s_column_text, s_remark
  </sql>

  <insert id="insert" parameterType="com.dyny.gms.db.pojo.Enumeration">
    insert into t_enumeration (i_id, s_enum_value_text, i_enum_value, 
      d_create_time, d_modify_time, i_modify_user, 
      i_create_user, s_column_key, s_column_text, 
      s_remark)
    values (#{id,jdbcType=TINYINT}, #{enumValueText,jdbcType=VARCHAR}, #{enumValue,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=INTEGER}, 
      #{createUser,jdbcType=INTEGER}, #{columnKey,jdbcType=VARCHAR}, #{columnText,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dyny.gms.db.pojo.Enumeration">
    insert into t_enumeration
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        i_id,
      </if>
      <if test="enumValueText != null">
        s_enum_value_text,
      </if>
      <if test="enumValue != null">
        i_enum_value,
      </if>
      <if test="createTime != null">
        d_create_time,
      </if>
      <if test="modifyTime != null">
        d_modify_time,
      </if>
      <if test="modifyUser != null">
        i_modify_user,
      </if>
      <if test="createUser != null">
        i_create_user,
      </if>
      <if test="columnKey != null">
        s_column_key,
      </if>
      <if test="columnText != null">
        s_column_text,
      </if>
      <if test="remark != null">
        s_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="enumValueText != null">
        #{enumValueText,jdbcType=VARCHAR},
      </if>
      <if test="enumValue != null">
        #{enumValue,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="columnKey != null">
        #{columnKey,jdbcType=VARCHAR},
      </if>
      <if test="columnText != null">
        #{columnText,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByExample" parameterType="com.dyny.gms.db.pojo.EnumerationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_enumeration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause_Enum" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dyny.gms.db.pojo.EnumerationExample">
    delete from t_enumeration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause_Enum" />
    </if>
  </delete>

  <select id="countByExample" parameterType="com.dyny.gms.db.pojo.EnumerationExample" resultType="java.lang.Long">
    select count(*) from t_enumeration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause_Enum" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_enumeration
    <set>
      <if test="record.id != null">
        i_id = #{record.id,jdbcType=TINYINT},
      </if>
      <if test="record.enumValueText != null">
        s_enum_value_text = #{record.enumValueText,jdbcType=VARCHAR},
      </if>
      <if test="record.enumValue != null">
        i_enum_value = #{record.enumValue,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        d_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        d_modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUser != null">
        i_modify_user = #{record.modifyUser,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null">
        i_create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.columnKey != null">
        s_column_key = #{record.columnKey,jdbcType=VARCHAR},
      </if>
      <if test="record.columnText != null">
        s_column_text = #{record.columnText,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        s_remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_enumeration
    set i_id = #{record.id,jdbcType=TINYINT},
      s_enum_value_text = #{record.enumValueText,jdbcType=VARCHAR},
      i_enum_value = #{record.enumValue,jdbcType=TINYINT},
      d_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      d_modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      i_modify_user = #{record.modifyUser,jdbcType=INTEGER},
      i_create_user = #{record.createUser,jdbcType=INTEGER},
      s_column_key = #{record.columnKey,jdbcType=VARCHAR},
      s_column_text = #{record.columnText,jdbcType=VARCHAR},
      s_remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>