<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.GeneratorMapper">
    <resultMap id="BaseResultMap" type="com.dyny.gms.db.pojo.Generator">
        <id column="mach_no" jdbcType="VARCHAR" property="machNo"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="mach_name" jdbcType="NVARCHAR" property="machName"/>
        <result column="mach_type" jdbcType="NVARCHAR" property="machType"/>
        <result column="fuel_type" jdbcType="NVARCHAR" property="fuelType"/>
        <result column="use_type" jdbcType="NVARCHAR" property="useType"/>
        <result column="cus_no" jdbcType="VARCHAR" property="cusNo"/>
        <result column="model_no" jdbcType="VARCHAR" property="modelNo"/>
        <result column="vender_name" jdbcType="NVARCHAR" property="venderName"/>
        <result column="power_num" jdbcType="DECIMAL" property="powerNum"/>
        <result column="Purch_time" jdbcType="TIMESTAMP" property="purchTime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="note" jdbcType="NVARCHAR" property="note"/>
        <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="ver_no" jdbcType="VARCHAR" property="verNo"/>
        <result column="maintain_time" jdbcType="NUMERIC" property="maintainTime"/>
        <result column="stop_time" jdbcType="NUMERIC" property="stopTime"/>
        <result column="start_Voltage" jdbcType="NUMERIC" property="startVoltage"/>
        <result column="volumeno" jdbcType="NUMERIC" property="volumeno"/>
        <result column="gprsno" jdbcType="VARCHAR" property="gprsno"/>
        <result column="i_total_generate_time" jdbcType="INTEGER" property="iTotalGenerateTime"/>
    </resultMap>

    <resultMap id="generatorFullInfo" type="map">
        <id column="mach_no" jdbcType="VARCHAR" property="machNo"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="mach_name" jdbcType="NVARCHAR" property="machName"/>
        <result column="mach_type" jdbcType="NVARCHAR" property="machType"/>
        <result column="fuel_type" jdbcType="NVARCHAR" property="fuelType"/>
        <result column="use_type" jdbcType="NVARCHAR" property="useType"/>
        <result column="cus_no" jdbcType="VARCHAR" property="cusNo"/>
        <result column="model_no" jdbcType="VARCHAR" property="modelNo"/>
        <result column="vender_name" jdbcType="NVARCHAR" property="venderName"/>
        <result column="power_num" jdbcType="DECIMAL" property="powerNum"/>
        <result column="Purch_time" jdbcType="TIMESTAMP" property="purchTime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="note" jdbcType="NVARCHAR" property="note"/>
        <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="ver_no" jdbcType="VARCHAR" property="verNo"/>
        <result column="maintain_time" jdbcType="NUMERIC" property="maintainTime"/>
        <result column="stop_time" jdbcType="NUMERIC" property="stopTime"/>
        <result column="start_Voltage" jdbcType="NUMERIC" property="startVoltage"/>
        <result column="volumeno" jdbcType="NUMERIC" property="volumeno"/>
        <result column="gprsno" jdbcType="VARCHAR" property="gprsno"/>
        <result column="i_total_generate_time" jdbcType="INTEGER" property="iTotalGenerateTime"/>
    </resultMap>


    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    mach_no, id, mach_name, mach_type, fuel_type, use_type, cus_no, model_no, vender_name, 
    power_num, Purch_time, state, note, creat_time, creator, ver_no, maintain_time, stop_time, 
    start_Voltage, volumeno, gprsno, i_total_generate_time
  </sql>
    <select id="selectByExample" parameterType="com.dyny.gms.db.pojo.GeneratorExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from C_mach
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from C_mach
        where mach_no = #{machNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from C_mach
    where mach_no = #{machNo,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.dyny.gms.db.pojo.GeneratorExample">
        delete from C_mach
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.dyny.gms.db.pojo.Generator">
    insert into C_mach (mach_no, id, mach_name, 
      mach_type, fuel_type, use_type, 
      cus_no, model_no, vender_name, 
      power_num, Purch_time, state, 
      note, creat_time, creator, 
      ver_no, maintain_time, stop_time, 
      start_Voltage, volumeno, gprsno, 
      i_total_generate_time)
    values (#{machNo,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{machName,jdbcType=NVARCHAR}, 
      #{machType,jdbcType=NVARCHAR}, #{fuelType,jdbcType=NVARCHAR}, #{useType,jdbcType=NVARCHAR}, 
      #{cusNo,jdbcType=VARCHAR}, #{modelNo,jdbcType=VARCHAR}, #{venderName,jdbcType=NVARCHAR}, 
      #{powerNum,jdbcType=DECIMAL}, #{purchTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}, 
      #{note,jdbcType=NVARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{verNo,jdbcType=VARCHAR}, #{maintainTime,jdbcType=NUMERIC}, #{stopTime,jdbcType=NUMERIC}, 
      #{startVoltage,jdbcType=NUMERIC}, #{volumeno,jdbcType=NUMERIC}, #{gprsno,jdbcType=VARCHAR}, 
      #{iTotalGenerateTime,jdbcType=INTEGER})
  </insert>

    <select id="getGeneratorFullInfo" resultMap="generatorFullInfo" parameterType="java.lang.String">

    </select>

    <insert id="insertSelective" parameterType="com.dyny.gms.db.pojo.Generator">
        insert into C_mach
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="machNo != null">
                mach_no,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="machName != null">
                mach_name,
            </if>
            <if test="machType != null">
                mach_type,
            </if>
            <if test="fuelType != null">
                fuel_type,
            </if>
            <if test="useType != null">
                use_type,
            </if>
            <if test="cusNo != null">
                cus_no,
            </if>
            <if test="modelNo != null">
                model_no,
            </if>
            <if test="venderName != null">
                vender_name,
            </if>
            <if test="powerNum != null">
                power_num,
            </if>
            <if test="purchTime != null">
                Purch_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="creatTime != null">
                creat_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="verNo != null">
                ver_no,
            </if>
            <if test="maintainTime != null">
                maintain_time,
            </if>
            <if test="stopTime != null">
                stop_time,
            </if>
            <if test="startVoltage != null">
                start_Voltage,
            </if>
            <if test="volumeno != null">
                volumeno,
            </if>
            <if test="gprsno != null">
                gprsno,
            </if>
            <if test="iTotalGenerateTime != null">
                i_total_generate_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="machNo != null">
                #{machNo,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="machName != null">
                #{machName,jdbcType=NVARCHAR},
            </if>
            <if test="machType != null">
                #{machType,jdbcType=NVARCHAR},
            </if>
            <if test="fuelType != null">
                #{fuelType,jdbcType=NVARCHAR},
            </if>
            <if test="useType != null">
                #{useType,jdbcType=NVARCHAR},
            </if>
            <if test="cusNo != null">
                #{cusNo,jdbcType=VARCHAR},
            </if>
            <if test="modelNo != null">
                #{modelNo,jdbcType=VARCHAR},
            </if>
            <if test="venderName != null">
                #{venderName,jdbcType=NVARCHAR},
            </if>
            <if test="powerNum != null">
                #{powerNum,jdbcType=DECIMAL},
            </if>
            <if test="purchTime != null">
                #{purchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=NVARCHAR},
            </if>
            <if test="creatTime != null">
                #{creatTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="verNo != null">
                #{verNo,jdbcType=VARCHAR},
            </if>
            <if test="maintainTime != null">
                #{maintainTime,jdbcType=NUMERIC},
            </if>
            <if test="stopTime != null">
                #{stopTime,jdbcType=NUMERIC},
            </if>
            <if test="startVoltage != null">
                #{startVoltage,jdbcType=NUMERIC},
            </if>
            <if test="volumeno != null">
                #{volumeno,jdbcType=NUMERIC},
            </if>
            <if test="gprsno != null">
                #{gprsno,jdbcType=VARCHAR},
            </if>
            <if test="iTotalGenerateTime != null">
                #{iTotalGenerateTime,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.dyny.gms.db.pojo.GeneratorExample" resultType="java.lang.Long">
        select count(*) from C_mach
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update C_mach
        <set>
            <if test="record.machNo != null">
                mach_no = #{record.machNo,jdbcType=VARCHAR},
            </if>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.machName != null">
                mach_name = #{record.machName,jdbcType=NVARCHAR},
            </if>
            <if test="record.machType != null">
                mach_type = #{record.machType,jdbcType=NVARCHAR},
            </if>
            <if test="record.fuelType != null">
                fuel_type = #{record.fuelType,jdbcType=NVARCHAR},
            </if>
            <if test="record.useType != null">
                use_type = #{record.useType,jdbcType=NVARCHAR},
            </if>
            <if test="record.cusNo != null">
                cus_no = #{record.cusNo,jdbcType=VARCHAR},
            </if>
            <if test="record.modelNo != null">
                model_no = #{record.modelNo,jdbcType=VARCHAR},
            </if>
            <if test="record.venderName != null">
                vender_name = #{record.venderName,jdbcType=NVARCHAR},
            </if>
            <if test="record.powerNum != null">
                power_num = #{record.powerNum,jdbcType=DECIMAL},
            </if>
            <if test="record.purchTime != null">
                Purch_time = #{record.purchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.state != null">
                state = #{record.state,jdbcType=VARCHAR},
            </if>
            <if test="record.note != null">
                note = #{record.note,jdbcType=NVARCHAR},
            </if>
            <if test="record.creatTime != null">
                creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.creator != null">
                creator = #{record.creator,jdbcType=VARCHAR},
            </if>
            <if test="record.verNo != null">
                ver_no = #{record.verNo,jdbcType=VARCHAR},
            </if>
            <if test="record.maintainTime != null">
                maintain_time = #{record.maintainTime,jdbcType=NUMERIC},
            </if>
            <if test="record.stopTime != null">
                stop_time = #{record.stopTime,jdbcType=NUMERIC},
            </if>
            <if test="record.startVoltage != null">
                start_Voltage = #{record.startVoltage,jdbcType=NUMERIC},
            </if>
            <if test="record.volumeno != null">
                volumeno = #{record.volumeno,jdbcType=NUMERIC},
            </if>
            <if test="record.gprsno != null">
                gprsno = #{record.gprsno,jdbcType=VARCHAR},
            </if>
            <if test="record.iTotalGenerateTime != null">
                i_total_generate_time = #{record.iTotalGenerateTime,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update C_mach
        set mach_no = #{record.machNo,jdbcType=VARCHAR},
        id = #{record.id,jdbcType=INTEGER},
        mach_name = #{record.machName,jdbcType=NVARCHAR},
        mach_type = #{record.machType,jdbcType=NVARCHAR},
        fuel_type = #{record.fuelType,jdbcType=NVARCHAR},
        use_type = #{record.useType,jdbcType=NVARCHAR},
        cus_no = #{record.cusNo,jdbcType=VARCHAR},
        model_no = #{record.modelNo,jdbcType=VARCHAR},
        vender_name = #{record.venderName,jdbcType=NVARCHAR},
        power_num = #{record.powerNum,jdbcType=DECIMAL},
        Purch_time = #{record.purchTime,jdbcType=TIMESTAMP},
        state = #{record.state,jdbcType=VARCHAR},
        note = #{record.note,jdbcType=NVARCHAR},
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
        creator = #{record.creator,jdbcType=VARCHAR},
        ver_no = #{record.verNo,jdbcType=VARCHAR},
        maintain_time = #{record.maintainTime,jdbcType=NUMERIC},
        stop_time = #{record.stopTime,jdbcType=NUMERIC},
        start_Voltage = #{record.startVoltage,jdbcType=NUMERIC},
        volumeno = #{record.volumeno,jdbcType=NUMERIC},
        gprsno = #{record.gprsno,jdbcType=VARCHAR},
        i_total_generate_time = #{record.iTotalGenerateTime,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.dyny.gms.db.pojo.Generator">
        update C_mach
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="machName != null">
                mach_name = #{machName,jdbcType=NVARCHAR},
            </if>
            <if test="machType != null">
                mach_type = #{machType,jdbcType=NVARCHAR},
            </if>
            <if test="fuelType != null">
                fuel_type = #{fuelType,jdbcType=NVARCHAR},
            </if>
            <if test="useType != null">
                use_type = #{useType,jdbcType=NVARCHAR},
            </if>
            <if test="cusNo != null">
                cus_no = #{cusNo,jdbcType=VARCHAR},
            </if>
            <if test="modelNo != null">
                model_no = #{modelNo,jdbcType=VARCHAR},
            </if>
            <if test="venderName != null">
                vender_name = #{venderName,jdbcType=NVARCHAR},
            </if>
            <if test="powerNum != null">
                power_num = #{powerNum,jdbcType=DECIMAL},
            </if>
            <if test="purchTime != null">
                Purch_time = #{purchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=NVARCHAR},
            </if>
            <if test="creatTime != null">
                creat_time = #{creatTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="verNo != null">
                ver_no = #{verNo,jdbcType=VARCHAR},
            </if>
            <if test="maintainTime != null">
                maintain_time = #{maintainTime,jdbcType=NUMERIC},
            </if>
            <if test="stopTime != null">
                stop_time = #{stopTime,jdbcType=NUMERIC},
            </if>
            <if test="startVoltage != null">
                start_Voltage = #{startVoltage,jdbcType=NUMERIC},
            </if>
            <if test="volumeno != null">
                volumeno = #{volumeno,jdbcType=NUMERIC},
            </if>
            <if test="gprsno != null">
                gprsno = #{gprsno,jdbcType=VARCHAR},
            </if>
            <if test="iTotalGenerateTime != null">
                i_total_generate_time = #{iTotalGenerateTime,jdbcType=INTEGER},
            </if>
        </set>
        where mach_no = #{machNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dyny.gms.db.pojo.Generator">
    update C_mach
    set id = #{id,jdbcType=INTEGER},
      mach_name = #{machName,jdbcType=NVARCHAR},
      mach_type = #{machType,jdbcType=NVARCHAR},
      fuel_type = #{fuelType,jdbcType=NVARCHAR},
      use_type = #{useType,jdbcType=NVARCHAR},
      cus_no = #{cusNo,jdbcType=VARCHAR},
      model_no = #{modelNo,jdbcType=VARCHAR},
      vender_name = #{venderName,jdbcType=NVARCHAR},
      power_num = #{powerNum,jdbcType=DECIMAL},
      Purch_time = #{purchTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      note = #{note,jdbcType=NVARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      ver_no = #{verNo,jdbcType=VARCHAR},
      maintain_time = #{maintainTime,jdbcType=NUMERIC},
      stop_time = #{stopTime,jdbcType=NUMERIC},
      start_Voltage = #{startVoltage,jdbcType=NUMERIC},
      volumeno = #{volumeno,jdbcType=NUMERIC},
      gprsno = #{gprsno,jdbcType=VARCHAR},
      i_total_generate_time = #{iTotalGenerateTime,jdbcType=INTEGER}
    where mach_no = #{machNo,jdbcType=VARCHAR}
  </update>
</mapper>