<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.SiteMapper">
    <!-- 四.	所有站点功能 -->
    <resultMap type="map" id="allSiteMap">
        <result column="stationType" property="stationType" javaType="string"/>
        <result column="id" property="stationId" javaType="string"/>
        <result column="st_name" property="stationName" javaType="string"/>
        <result column="st_no" property="stationNumber" javaType="string"/>
        <result column="st_state" property="stationConnnectState" javaType="string"/>
        <result column="Acity_electricity" property="stationState" javaType="string"/>
        <result column="st_voltage" property="batteryVoltage" javaType="string"/>
        <result column="generationTime" property="generationTime" javaType="string"/>
        <result column="inter_time" property="updateTime" javaType="string"/>
        <result column="lengthtime" property="updateTimeLength" javaType="string"/>
    </resultMap>


    <!-- 五.	全站地图功能 -->
    <resultMap type="map" id="allMap">
        <result column="id" property="stationId" javaType="string"/>
        <result column="s_station_name" property="stationName" javaType="string"/>
        <result column="mach_name" property="machName" javaType="string"/>
        <result column="inter_time" property="interTime" javaType="java.sql.Timestamp"/>
        <result column="city_electricity" property="cityElectricity" javaType="int"/>
        <result column="state" property="state" javaType="int"/>
        <result column="st_coordinate" property="stationPosition" javaType="string"/>
        <result column="s_station_latitude" property="stationLatitude" javaType="string"/>
        <result column="s_station_longitude" property="stationLongitude" javaType="string"/>
        <result column="st_no" property="stationNo" javaType="string"/>
        <result column="b_activated" property="activate" javaType="string"/>

        <!--以下两个字段已弃用,为了保证兼容性先保留,值为空-->
        <result column="st_state" property="stationConnnectState" javaType="string"/>
        <result column="Acity_electricity" property="stationState" javaType="string"/>
    </resultMap>


    <select id="getGeneratorLocation" resultMap="allMap" parameterType="java.lang.String">
        SELECT
        i.id,
        m.mach_name,
        m.st_no,
        i.mach_no,
        ts.s_station_latitude,
        ts.s_station_longitude,
        ts.s_station_name,
        i.st_coordinate,
        '' as stationConnnectState,
        '' as st_state,
        cb.city_electricity,
        cb.inter_time,
        m.b_activated,
        cb.state
        FROM
        id i
        JOIN c_mach m ON m.mach_no = i.mach_no
        AND m.b_activated in (
        <if test="activate">
            1
        </if>
        <if test="inactivate">
            ,0
        </if>
        )
        LEFT JOIN t_station ts ON ts.s_station_no = m.st_no --
        LEFT JOIN C_basis cb ON i.id = cb.id
        WHERE
        1 = 1
        <if test="mach_no!=null and mach_no!=''">
            and i.mach_no=#{mach_no}
        </if>
        <if test="user_cus!=''">
            AND
            m.cus_no=#{user_cus}
        </if>
        <if test="keyWord!=null and keyWord!=''">
            and (i.mach_no like '%'+#{keyWord}+'%' or m.mach_name like '%'+#{keyWord}+'%' or
                 m.st_no like '%'+#{keyWord}+'%' or ts.s_station_name like '%'+#{keyWord}+'%')
        </if>
    </select>


    <!-- 六.	站点状态数量功能 -->
    <resultMap type="map" id="numMap">
        <result column="siteCount" property="siteCount" javaType="int"/>
    </resultMap>


    <!-- 十二.	基站主头部基本信息 -->
    <resultMap type="map" id="siteHeadMap">
        <result column="ST_NAME" property="stationName" javaType="string"/>
        <result column="st_per1" property="stationContactMan" javaType="string"/>
        <result column="st_pertel1" property="contactManPhone" javaType="string"/>
    </resultMap>


    <!-- 十三.	基站主内容基本信息 -->
    <resultMap type="map" id="siteContentMap">
        <result column="id" property="stationId" javaType="string"/>
        <result column="stationType" property="stationType" javaType="string"/>
        <result column="st_name" property="stationName" javaType="string"/>
        <result column="st_current" property="outputElectricity" javaType="string"/>
        <result column="Acity_electricity" property="stationState" javaType="string"/>
        <result column="Cabinet_temperature" property="stationTcase" javaType="string"/>
        <result column="external_temperature" property="motorTemperature" javaType="string"/>
        <result column="start_Voltage" property="startVoltage " javaType="string"/>
        <result column="sum_time" property="accumulativeGeneration" javaType="string"/>
        <result column="st_voltage" property="batteryVoltage" javaType="string"/>
        <result column="lank_level" property="oliPercentage" javaType="string"/>
        <result column="lank_percent" property="stationOli" javaType="string"/>
        <result column="inter_time" property="updateTime" javaType="string"/>
        <result column="oliPercentage" property="generationTimeLength" javaType="string"/>
        <result column="stop_time" property="stopTime" javaType="string"/>
        <result column="state" property="startResult" javaType="string"/>
    </resultMap>

    <!-- 十四.	查询启动电压功能 -->
    <resultMap type="map" id="startVoltageMap">
        <result column="start_Voltage" property="start_Voltage" javaType="string"/>
    </resultMap>
    <select id="getStartVoltage" resultMap="startVoltageMap">
        select isnull(start_Voltage,0) start_Voltage
        from C_mach
        WHERE mach_no = #{mach_no}
    </select>

    <!-- 十五.	设定启动电压功能 -->
    <update id="modifyStartVoltage">
        UPDATE C_mach SET start_Voltage = #{changeVoltage, jdbcType = DECIMAL}
        WHERE mach_no = #{mach_no}
    </update>

    <!-- 十六.	(1)查询保养时间功能 -->
    <resultMap type="map" id="careTimeMap">
        <result column="currentServiceTime" property="currentServiceTime" javaType="string"/>
    </resultMap>
    <select id="getCareTime" resultMap="careTimeMap">
        select maintain_time as currentServiceTime
        From C_mach
        WHERE mach_no = #{mach_no}
    </select>

    <!-- 十六.	(2)设定保养时间功能 -->
    <update id="modifyCareTime">
        UPDATE C_mach SET maintain_time = #{currentServiceTime,jdbcType = DECIMAL}
        WHERE mach_no = #{mach_no}
    </update>

    <!-- 十七.	（1）设定停机功能 -->
    <select id="getStopTime" resultMap="careTimeMap">
        select stop_time as currentServiceTime
        From C_mach
        WHERE mach_no = #{mach_no}
    </select>


    <!-- 十九.	站点信息主功能 -->
    <resultMap type="map" id="siteInfoMap">
        <result column="id" property="stationId" javaType="string"/>
        <result column="st_name" property="stationName" javaType="string"/>
        <result column="st_no" property="stationNumber" javaType="string"/>
        <result column="st_type" property="stationType" javaType="string"/>
        <result column="cus_no" property="usercus" javaType="string"/>
        <result column="st_coordinate" property="stationPosition" javaType="string"/>
        <result column="st_add" property="stationAddress" javaType="string"/>
        <result column="unit_add" property="companyAddress" javaType="string"/>
        <result column="st_per1" property="stationContactManA" javaType="string"/>
        <result column="st_pertel1" property="contactManPhoneA" javaType="string"/>
        <result column="st_per2" property="stationContactManB" javaType="string"/>
        <result column="st_pertel2" property="contactManPhoneB" javaType="string"/>
    </resultMap>
    <select id="getSiteInfo" resultMap="siteInfoMap" parameterType="java.lang.Integer">
        select id, st_name, st_no, st_type, cus_no, st_coordinate, st_add, unit_add, st_per1, st_pertel1, st_per2,
        st_pertel2
        FROM C_station
        where id = #{stationId}
        order by id
    </select>


    <!-- 二十三.	发电记录功能 -->
    <resultMap type="map" id="generateLogMap">
        <result column="mach_name" property="mach_name" javaType="string"/>
        <result column="mach_no" property="mach_no" javaType="string"/>
        <result column="start_time" property="start_time" javaType="string"/>
        <result column="end_time" property="end_time" javaType="string"/>
        <result column="e_start_time" property="e_start_time" javaType="string"/><!--市电停电时间-->
        <result column="e_end_time" property="e_end_time" javaType="string"/><!--市电恢复时间-->
        <result column="num_time" property="num_time" javaType="string"/>
    </resultMap>
    <select id="getGenerateLog" resultMap="generateLogMap">
        SELECT
        t.mach_no,
        ts.s_station_no,
        ts.s_station_name,
        m.mach_name,
        t.start_time,
        t.end_time,
        dbo.get_close_start_time (t.mach_no, t.start_time) e_start_time,
        dbo.get_close_end_time (t.mach_no, t.start_time) e_end_time,
        DATEDIFF(
        mi,
        start_time,
        ISNULL(end_time, GETDATE())
        ) num_time
        FROM
        Ap_time t left join t_station ts on ts.s_station_no=t.st_no
        JOIN C_mach m ON m.mach_no = t.mach_no
        where 1=1
        <if test="user_cus!=null and user_cus!=''">
            and m.cus_no=#{user_cus}
        </if>
        <if test="mach_no!=null and mach_no!=''">
            and (m.mach_no like '%'+#{mach_no}+'%' or m.mach_name like '%'+#{mach_no}+'%')
        </if>
        <if test="start_date>0">
            AND start_time &gt;= DATEADD(S,#{start_date},'1970-01-01 08:00:00')
        </if>
        <if test="end_date>0">
            AND end_time &lt;= DATEADD(S,#{end_date},'1970-01-01 08:00:00')
        </if>
        order by t.start_time desc
    </select>


    <resultMap type="map" id="machineNumMap">
        <result column="total" property="total" javaType="int"/>
        <result column="online" property="online" javaType="int"/>
        <result column="sleeping" property="sleeping" javaType="int"/>
    </resultMap>


    <!--新方法-->
    <select id="getMachineNum" resultMap="machineNumMap" parameterType="java.lang.String">
        select
        count(1) total ,
        sum(case when DATEDIFF(mi,inter_time,GETDATE()) &lt;=#{onlineTimeout}/60 then 1 else 0 end) online,
        sum(case when isnull(Expr1,1)=0 then 1 else 0 end) sleeping
        from view_generator_full_info where 1=1
        <if test="user_cus != null and user_cus != '' ">
            AND cus_no = #{user_cus}
        </if>
        AND b_activated in (
        <if test="activate">
            1
        </if>
        <if test="inactivate">
            ,0
        </if>
        )
    </select>


    <!-- 二十七.	移动油机在线(双击在线) -->
    <resultMap type="map" id="machineStatusMap">
        <result column="mach_no" property="mach_no" javaType="string"/>
        <result column="st_no" property="st_no" javaType="string"/>
        <result column="s_station_name" property="s_station_name" javaType="string"/>
        <result column="mach_type" property="mach_type" javaType="string"/>
        <result column="st_state" property="st_state" javaType="string"/>
        <result column="city_electricity" property="city_electricity" javaType="string"/>
        <result column="al_voltage" property="al_voltage" javaType="string"/>
        <result column="sum_time" property="sum_time" javaType="string"/>
        <result column="sumnum_time" property="sumnum_time" javaType="string"/>
        <result column="state" property="state" javaType="string"/>
        <result column="state1" property="state1" javaType="string"/>
        <result column="maintain_time" property="maintain_time" javaType="string"/>
        <result column="lank_per" property="lank_per" javaType="string"/>
        <result column="st_current" property="st_current" javaType="string"/>
        <result column="external_temperature" property="external_temperature" javaType="string"/>
        <result column="lank_level" property="lank_level" javaType="string"/>
        <result column="sys_mode" property="sys_mode" javaType="string"/>
        <result column="output_voltage" property="output_voltage" javaType="string"/>
        <result column="load_mode" property="load_mode" javaType="int"/>
        <result column="b_activated" property="activated" javaType="int"/>

    </resultMap>

    <!-- 三十一.	移动油机查询 -->
    <select id="searchMachine" resultMap="machineStatusMap">
        select mach_no,mach_name,s_station_name,st_no,
        i_total_generate_time, mach_type, st_state,b_activated,
        city_electricity,Acity_electricity,
        output_voltage,load_mode,
        al_voltage,
        -- isnull(i_total_generate_time,0)/60 sum_time,
        -- dbo.sumnum_time(mach_no) sumnum_time,
        state,isnull(start_Vo,0) start_Vo,
        state1,isnull(Expr2,0)-isnull(i_total_generate_time,0)/60 maintain_time,isnull(lank_level,0)
        lank_per,st_current,isnull(cabinet_temperature,0)
        external_temperature,isnull(lank_level,0)*isnull(volumeno,0)/100 lank_level ,isnull(sys_mode,0) sys_mode
        from view_generator_full_info
        WHERE 1 = 1
        <if test="user_cus != null and user_cus != '' ">
            AND cus_no = #{user_cus}
        </if>
        <if test="state != null and state != '' ">
            AND state = #{state}
        </if>
        <if test="online != null and online != '' ">
            AND st_state = #{online}
        </if>
        <if test="currentType != null and currentType != '' ">
            AND mach_type = #{currentType}
        </if>
        <if test="fuel_type != null and fuel_type != '' ">
            AND fuel_type = #{fuel_type}
        </if>
        <if test="generateStatus != null and generateStatus != '' ">
            AND state1 = #{generateStatus}
        </if>
        <if test="content != null and content != '' ">
            AND (mach_no like '%'+#{content}+'%' or mach_name like '%'+#{content}+'%')
        </if>
        <if test="Acity_electricity != null and Acity_electricity != '' ">
            AND Acity_electricity = #{Acity_electricity}
        </if>
        <if test="expr1 >=0 ">
            AND isnull(Expr1,1) = #{expr1}
        </if>
        <if test="use_type !=null and use_type != '' ">
            AND use_type = #{use_type}
        </if>
        AND b_activated in (
        <if test="activate">
            1
        </if>
        <if test="inactivate">
            ,0
        </if>
        )


    </select>

    <!-- 三十二.	启动功能 -->
    <insert id="startMachine">
        INSERT INTO Ap_operate(mach_no, op_no,
        op_num, creat_time, creat_per,
        action) VALUES(
        #{mach_no, jdbcType = VARCHAR},
        1,
        '84 05 01 00 00 00 01 02 16',
        getdate(),
        #{user_no, jdbcType = VARCHAR},
        '0'
        )
    </insert>

    <!-- 三十三.	熄火功能 -->
    <insert id="offMachine">
        INSERT INTO Ap_operate(mach_no, op_no,
        op_num, creat_time, creat_per,
        action) VALUES (
        #{mach_no, jdbcType = VARCHAR},
        2,
        '84 05 01 00 00 00 02 03 16',
        getdate(),
        #{user_no, jdbcType = VARCHAR},
        '0'
        )
    </insert>

    <!-- 三十四.	模式切换功能 -->
    <insert id="changeModel">
        INSERT INTO Ap_operate (mach_no, op_no,
        op_num, creat_time, creat_per,
        action) VALUES (
        #{mach_no, jdbcType = VARCHAR},
        #{modelflag, jdbcType =INTEGER},
        #{code, jdbcType = VARCHAR},
        getdate(),
        #{user_no, jdbcType = VARCHAR},
        '0'
        )
    </insert>



    <!-- 三十九.	移动油机直流主数据明细 -->
    <resultMap type="map" id="SiteDetailedMap1">
        <result column="Acity_electricity" property="Acity_electricity" javaType="string"/>
        <result column="s_station_name" property="stationName" javaType="string"/>
        <result column="mach_name" property="generatorName" javaType="string"/>
        <result column="mach_no" property="generatorNo" javaType="string"/>
        <result column="s_station_latitude" property="stationLatitude" javaType="string"/>
        <result column="s_station_longitude" property="stationLongitude" javaType="string"/>
        <result column="external_temperature" property="external_temperature" javaType="string"/>
        <result column="inter_time" property="inter_time" javaType="string"/>
        <result column="stationType" property="stationType" javaType="string"/>
        <result column="start_Voltage" property="start_Voltage" javaType="string"/>
        <result column="lank_level" property="lank_level" javaType="string"/>
        <result column="lank_per" property="lank_per" javaType="string"/>
        <result column="st_current" property="st_current" javaType="string"/>
        <result column="st_co" property="st_co" javaType="string"/>
        <result column="sum_time" property="sum_time" javaType="string"/>
        <result column="maintain_time" property="maintain_time" javaType="string"/>
        <result column="st_voltag" property="st_voltag" javaType="string"/>
        <result column="Expr1" property="Expr1" javaType="string"/>
        <result column="al_voltage" property="al_voltage" javaType="string"/>
        <result column="state1" property="state1" javaType="string"/>
        <result column="st_state" property="st_state" javaType="string"/>
        <result column="sys_mode" property="sys_mode" javaType="string"/>
        <result column="fuel_type" property="fuel_type" javaType="string"/>
        <result column="output_voltage" property="output_voltage" javaType="string"/>
        <result column="load_mode" property="load_mode" javaType="int"/>
        <result column="pro_mode" property="pro_mode" javaType="int"/>
        <result column="i_board_version" property="boardVersion" javaType="int"/>
        <result column="b_activated" property="activated" javaType="boolean"/>
    </resultMap>
    <select id="getSiteDetailed1" resultMap="SiteDetailedMap1">
        SELECT
        Acity_electricity,
        s_station_name,
        s_station_latitude,
        s_station_longitude,
        output_voltage,
        load_mode,
        st_state,
        fuel_type,
        pro_mode,
        mach_name,
        mach_no,
        i_board_version,
        b_activated,
        isnull(cabinet_temperature, 0) external_temperature,
        isnull(
        CONVERT (VARCHAR(100), inter_time, 20),
        0
        ) inter_time,
        isnull(dbo.mach_type(mach_no), 0) stationType,
        isnull(start_Vo, 0) start_Voltage,
        isnull(lank_level, 0) lank_per,
        isnull(lank_level, 0) * isnull(volumeno, 0) / 100 lank_level,
        isnull(st_current, 0) st_current,
        state1,
        isnull(st_co, 0) st_co,
        isnull(dbo.sum_time(mach_no), 0) sum_time,
        isnull(Expr2, 0) - isnull(dbo.sum_time(mach_no), 0) / 60 maintain_time,
        isnull(st_voltage, 0) st_voltag,
        isnull(Expr1, 0) Expr1,
        isnull(al_voltage, 0) al_voltage,
        isnull(sys_mode, 0) sys_mode
        FROM
        view_generator_full_info
        WHERE mach_no = #{mach_no}
        order by mach_no
    </select>


    <resultMap type="map" id="generatorDetail">
        <result column="Acity_electricity" property="Acity_electricity" javaType="string"/>
        <result column="external_temperature" property="external_temperature" javaType="string"/>
        <result column="inter_time" property="inter_time" javaType="string"/>
        <result column="stationType" property="stationType" javaType="string"/>
        <result column="start_Voltage" property="start_Voltage" javaType="string"/>
        <result column="lank_level" property="lank_level" javaType="string"/>
        <result column="lank_per" property="lank_per" javaType="string"/>
        <result column="st_current" property="st_current" javaType="string"/>
        <result column="st_co" property="st_co" javaType="string"/>
        <result column="sum_time" property="sum_time" javaType="string"/>
        <result column="maintain_time" property="maintain_time" javaType="string"/>
        <result column="st_voltag" property="st_voltag" javaType="string"/>
        <result column="Expr1" property="Expr1" javaType="string"/>
        <result column="al_voltage" property="al_voltage" javaType="string"/>
        <result column="state1" property="state1" javaType="string"/>
        <result column="i_board_version" property="boardVersion" javaType="string"/>
    </resultMap>
    <select id="getGeneratorDetail" resultMap="generatorDetail">
        SELECT
            Acity_electricity,
            isnull(cabinet_temperature, 0) external_temperature,
            isnull(
                CONVERT (VARCHAR(100), inter_time, 20),
                0
            ) inter_time,
            isnull(dbo.mach_type(mach_no), 0) stationType,
            isnull(start_Vo, 0) start_Voltage,
            isnull(lank_level, 0) lank_per,
            isnull(lank_level, 0) * isnull(volumeno, 0) / 100 lank_level,
            isnull(st_current, 0) st_current,
            state1,
            i_board_version,
            isnull(st_co, 0) st_co,
            isnull(dbo.sum_time(mach_no), 0) sum_time,
            isnull(Expr2, 0) - isnull(dbo.sum_time(mach_no), 0) / 60 maintain_time,
            isnull(st_voltage, 0) st_voltag,
            isnull(Expr1, 0) Expr1,
            isnull(al_voltage, 0) al_voltage
        FROM
            view_generator_full_info
        WHERE mach_no = #{mach_no}
        order by mach_no
    </select>


    <!-- 四十.	警报信息查询 -->
    <resultMap type="map" id="getSiteWarningMap">
        <result column="ID" property="ID" javaType="string"/>
        <result column="mach_no" property="mach_no" javaType="string"/>
        <result column="action" property="action" javaType="string"/>
        <result column="s_station_name" property="stationName" javaType="string"/>
        <result column="mach_name" property="machName" javaType="string"/>
        <result column="inter_time" property="inter_time" javaType="string"/>
    </resultMap>
    <select id="getSiteWarningList" resultMap="getSiteWarningMap">
        SELECT
        aw.ID,
        aw.mach_no,
        ts.s_station_name,
        cm.mach_name,
        ACTION,
        CONVERT (
        VARCHAR (100),
        aw.inter_time,
        20
        ) inter_time
        FROM
        Ap_warning aw
        LEFT JOIN c_mach cm ON cm.mach_no = aw.mach_no
        LEFT JOIN t_station ts ON ts.s_station_no = cm.st_no
        WHERE
        1 = 1
        <if test="user_cus != null and user_cus != '' ">
            AND (dbo.cus_no(aw.mach_no) = #{user_cus})
        </if>
        <if test="action_type>0">
            AND aw.action_type = #{action_type}
        </if>
        <if test="start_date>0">
            AND aw.inter_time &gt;= DATEADD(S,#{start_date},'1970-01-01 08:00:00')
        </if>
        <if test="end_date>0">
            AND aw.inter_time &lt;= DATEADD(S,#{end_date},'1970-01-01 08:00:00')
        </if>
        order by aw.id desc

    </select>

</mapper>