<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dyny.gms.db.pojo.User">
    <id column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_pass" jdbcType="VARCHAR" property="userPass" />
    <result column="user_cus" jdbcType="VARCHAR" property="userCus" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="s_parent_cus_no" jdbcType="VARCHAR" property="parentCusNo" />
    <result column="s_username_cn" jdbcType="VARCHAR" property="usernameCn" />
    <result column="d_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="b_deleted" jdbcType="BIT" property="deleted" />
    <result column="d_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dyny.gms.db.pojo.User">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_no, id, user_pass, user_cus, user_level, state, s_parent_cus_no, s_username_cn, 
    d_create_time, b_deleted, d_modify_time
  </sql>
  <sql id="Blob_Column_List">
    note
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.dyny.gms.db.pojo.UserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from C_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.dyny.gms.db.pojo.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from C_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from C_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from C_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dyny.gms.db.pojo.UserExample">
    delete from C_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dyny.gms.db.pojo.User">
    insert into C_user (user_no, user_pass,
      user_cus, user_level, state, 
      s_parent_cus_no, s_username_cn, d_create_time, 
      b_deleted, d_modify_time, note
      )
    values (#{userNo,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR},
      #{userCus,jdbcType=VARCHAR}, #{userLevel,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{parentCusNo,jdbcType=VARCHAR}, #{usernameCn,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT}, #{modifyTime,jdbcType=TIMESTAMP}, #{note,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dyny.gms.db.pojo.User">
    insert into C_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userNo != null">
        user_no,
      </if>
      <if test="userPass != null">
        user_pass,
      </if>
      <if test="userCus != null">
        user_cus,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="parentCusNo != null">
        s_parent_cus_no,
      </if>
      <if test="usernameCn != null">
        s_username_cn,
      </if>
      <if test="createTime != null">
        d_create_time,
      </if>
      <if test="deleted != null">
        b_deleted,
      </if>
      <if test="modifyTime != null">
        d_modify_time,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userCus != null">
        #{userCus,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="parentCusNo != null">
        #{parentCusNo,jdbcType=VARCHAR},
      </if>
      <if test="usernameCn != null">
        #{usernameCn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dyny.gms.db.pojo.UserExample" resultType="java.lang.Long">
    select count(*) from C_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update C_user
    <set>
      <if test="record.userNo != null">
        user_no = #{record.userNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userPass != null">
        user_pass = #{record.userPass,jdbcType=VARCHAR},
      </if>
      <if test="record.userCus != null">
        user_cus = #{record.userCus,jdbcType=VARCHAR},
      </if>
      <if test="record.userLevel != null">
        user_level = #{record.userLevel,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.parentCusNo != null">
        s_parent_cus_no = #{record.parentCusNo,jdbcType=VARCHAR},
      </if>
      <if test="record.usernameCn != null">
        s_username_cn = #{record.usernameCn,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        d_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        b_deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.modifyTime != null">
        d_modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update C_user
    set user_no = #{record.userNo,jdbcType=VARCHAR},
      user_pass = #{record.userPass,jdbcType=VARCHAR},
      user_cus = #{record.userCus,jdbcType=VARCHAR},
      user_level = #{record.userLevel,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      s_parent_cus_no = #{record.parentCusNo,jdbcType=VARCHAR},
      s_username_cn = #{record.usernameCn,jdbcType=VARCHAR},
      d_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      b_deleted = #{record.deleted,jdbcType=BIT},
      d_modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update C_user
    set user_no = #{record.userNo,jdbcType=VARCHAR},
      user_pass = #{record.userPass,jdbcType=VARCHAR},
      user_cus = #{record.userCus,jdbcType=VARCHAR},
      user_level = #{record.userLevel,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      s_parent_cus_no = #{record.parentCusNo,jdbcType=VARCHAR},
      s_username_cn = #{record.usernameCn,jdbcType=VARCHAR},
      d_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      b_deleted = #{record.deleted,jdbcType=BIT},
      d_modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyny.gms.db.pojo.User">
    update C_user
    <set>
      <if test="userPass != null">
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userCus != null">
        user_cus = #{userCus,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        user_level = #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="parentCusNo != null">
        s_parent_cus_no = #{parentCusNo,jdbcType=VARCHAR},
      </if>
      <if test="usernameCn != null">
        s_username_cn = #{usernameCn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        d_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        b_deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="modifyTime != null">
        d_modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dyny.gms.db.pojo.User">
    update C_user
    set
      user_pass = #{userPass,jdbcType=VARCHAR},
      user_cus = #{userCus,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      s_parent_cus_no = #{parentCusNo,jdbcType=VARCHAR},
      s_username_cn = #{usernameCn,jdbcType=VARCHAR},
      d_create_time = #{createTime,jdbcType=TIMESTAMP},
      b_deleted = #{deleted,jdbcType=BIT},
      d_modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=LONGVARCHAR}
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyny.gms.db.pojo.User">
    update C_user
    set
      user_pass = #{userPass,jdbcType=VARCHAR},
      user_cus = #{userCus,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      s_parent_cus_no = #{parentCusNo,jdbcType=VARCHAR},
      s_username_cn = #{usernameCn,jdbcType=VARCHAR},
      d_create_time = #{createTime,jdbcType=TIMESTAMP},
      b_deleted = #{deleted,jdbcType=BIT},
      d_modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>
</mapper>