<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyny.gms.db.dao.WarningTypeMapper">
  <resultMap id="BaseResultMap" type="com.dyny.gms.db.pojo.WarningType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="i_warning_type" jdbcType="INTEGER" property="warningType" />
    <result column="s_warning_name" jdbcType="VARCHAR" property="warningName" />
    <result column="s_warning_code" jdbcType="VARCHAR" property="warningCode" />
    <result column="i_warning_level" jdbcType="INTEGER" property="warningLevel" />
    <result column="s_warning_remark" jdbcType="VARCHAR" property="warningRemark" />
    <result column="d_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="d_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="f_limit" jdbcType="DOUBLE" property="limit" />
    <result column="b_over" jdbcType="BIT" property="over" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, i_warning_type, s_warning_name, s_warning_code, i_warning_level, s_warning_remark, 
    d_create_time, d_modify_time, f_limit, b_over
  </sql>
  <select id="selectByExample" parameterType="com.dyny.gms.db.pojo.WarningTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_warning_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_warning_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_warning_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dyny.gms.db.pojo.WarningTypeExample">
    delete from t_warning_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dyny.gms.db.pojo.WarningType">
    insert into t_warning_type (id, i_warning_type, s_warning_name, 
      s_warning_code, i_warning_level, s_warning_remark, 
      d_create_time, d_modify_time, f_limit, 
      b_over)
    values (#{id,jdbcType=INTEGER}, #{warningType,jdbcType=INTEGER}, #{warningName,jdbcType=VARCHAR}, 
      #{warningCode,jdbcType=VARCHAR}, #{warningLevel,jdbcType=INTEGER}, #{warningRemark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{limit,jdbcType=DOUBLE}, 
      #{over,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.dyny.gms.db.pojo.WarningType">
    insert into t_warning_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="warningType != null">
        i_warning_type,
      </if>
      <if test="warningName != null">
        s_warning_name,
      </if>
      <if test="warningCode != null">
        s_warning_code,
      </if>
      <if test="warningLevel != null">
        i_warning_level,
      </if>
      <if test="warningRemark != null">
        s_warning_remark,
      </if>
      <if test="createTime != null">
        d_create_time,
      </if>
      <if test="modifyTime != null">
        d_modify_time,
      </if>
      <if test="limit != null">
        f_limit,
      </if>
      <if test="over != null">
        b_over,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="warningType != null">
        #{warningType,jdbcType=INTEGER},
      </if>
      <if test="warningName != null">
        #{warningName,jdbcType=VARCHAR},
      </if>
      <if test="warningCode != null">
        #{warningCode,jdbcType=VARCHAR},
      </if>
      <if test="warningLevel != null">
        #{warningLevel,jdbcType=INTEGER},
      </if>
      <if test="warningRemark != null">
        #{warningRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="limit != null">
        #{limit,jdbcType=DOUBLE},
      </if>
      <if test="over != null">
        #{over,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dyny.gms.db.pojo.WarningTypeExample" resultType="java.lang.Long">
    select count(*) from t_warning_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_warning_type
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.warningType != null">
        i_warning_type = #{record.warningType,jdbcType=INTEGER},
      </if>
      <if test="record.warningName != null">
        s_warning_name = #{record.warningName,jdbcType=VARCHAR},
      </if>
      <if test="record.warningCode != null">
        s_warning_code = #{record.warningCode,jdbcType=VARCHAR},
      </if>
      <if test="record.warningLevel != null">
        i_warning_level = #{record.warningLevel,jdbcType=INTEGER},
      </if>
      <if test="record.warningRemark != null">
        s_warning_remark = #{record.warningRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        d_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        d_modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.limit != null">
        f_limit = #{record.limit,jdbcType=DOUBLE},
      </if>
      <if test="record.over != null">
        b_over = #{record.over,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_warning_type
    set id = #{record.id,jdbcType=INTEGER},
      i_warning_type = #{record.warningType,jdbcType=INTEGER},
      s_warning_name = #{record.warningName,jdbcType=VARCHAR},
      s_warning_code = #{record.warningCode,jdbcType=VARCHAR},
      i_warning_level = #{record.warningLevel,jdbcType=INTEGER},
      s_warning_remark = #{record.warningRemark,jdbcType=VARCHAR},
      d_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      d_modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      f_limit = #{record.limit,jdbcType=DOUBLE},
      b_over = #{record.over,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dyny.gms.db.pojo.WarningType">
    update t_warning_type
    <set>
      <if test="warningType != null">
        i_warning_type = #{warningType,jdbcType=INTEGER},
      </if>
      <if test="warningName != null">
        s_warning_name = #{warningName,jdbcType=VARCHAR},
      </if>
      <if test="warningCode != null">
        s_warning_code = #{warningCode,jdbcType=VARCHAR},
      </if>
      <if test="warningLevel != null">
        i_warning_level = #{warningLevel,jdbcType=INTEGER},
      </if>
      <if test="warningRemark != null">
        s_warning_remark = #{warningRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        d_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        d_modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="limit != null">
        f_limit = #{limit,jdbcType=DOUBLE},
      </if>
      <if test="over != null">
        b_over = #{over,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dyny.gms.db.pojo.WarningType">
    update t_warning_type
    set i_warning_type = #{warningType,jdbcType=INTEGER},
      s_warning_name = #{warningName,jdbcType=VARCHAR},
      s_warning_code = #{warningCode,jdbcType=VARCHAR},
      i_warning_level = #{warningLevel,jdbcType=INTEGER},
      s_warning_remark = #{warningRemark,jdbcType=VARCHAR},
      d_create_time = #{createTime,jdbcType=TIMESTAMP},
      d_modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      f_limit = #{limit,jdbcType=DOUBLE},
      b_over = #{over,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>